<div class="row">
  <div class="small columns">
    <h3>Create New Sample</h3>

    <%= form_for ([@transformer,@sample]) do |f| %>

      <% if @sample.errors.any? %>
          <% @sample.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      <% end %>

      <p>
        <%= f.label :date %>
        <%= f.text_field :date %>
      </p>

      <p>
        <%= f.label :hydrogen %>
        <%= f.text_field :hydrogen %>
      </p>
      <p>
        <%= f.label :oxygen %>
        <%= f.text_field :oxygen %>
      </p>
      <p>
        <%= f.label :nitrogen %>
        <%= f.text_field :nitrogen %>
      </p>
      <p>
        <%= f.label :methane %>
        <%= f.text_field :methane %>
      </p>
      <p>
        <%= f.label :carbon_monoxide %>
        <%= f.text_field :carbon_monoxide %>
      </p>
      <p>
        <%= f.label :ethane %>
        <%= f.text_field :ethane %>
      </p>
      <p>
        <%= f.label :carbon_dioxide %>
        <%= f.text_field :carbon_dioxide %>
      </p>
      <p>
        <%= f.label :ethylene %>
        <%= f.text_field :ethylene %>
      </p>
      <p>
        <%= f.label :acetylene %>
        <%= f.text_field :acetylene %>
      </p>

      <%= f.submit %>

    <% end %>
  </div>
</div>
