<div class="row">
  <div class="large-12 small-12 columns">
    <h2>Sample <%= @sample.id %></h2>
    <div id="chart"></div>
    <div class="datatable">
      <table id="samples" class="display">
          <thead>
              <tr>
                  <th>Compound</th>
                  <th>PPM</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Hydrogen</td>
                  <td><%= @sample.hydrogen %></td>
              </tr>
              <tr>
                  <td>Oxygen</td>
                  <td><%= @sample.oxygen %></td>
              </tr>
              <tr>
                  <td>Nitrogen</td>
                  <td><%= @sample.nitrogen %></td>
              </tr>
              <tr>
                  <td>Methane</td>
                  <td><%= @sample.methane %></td>
              </tr>
              <tr>
                  <td>Carbon Monoxide</td>
                  <td><%= @sample.carbon_monoxide %></td>
              </tr>
              <tr>
                  <td>Ethane</td>
                  <td><%= @sample.ethane %></td>
              </tr>
              <tr>
                  <td>Carbon Dioxide</td>
                  <td><%= @sample.carbon_dioxide %></td>
              </tr>
              <tr>
                  <td>Ethylene</td>
                  <td><%= @sample.ethylene %></td>
              </tr>
              <tr>
                  <td>Acetylene</td>
                  <td><%= @sample.acetylene %></td>
              </tr>
          </tbody>
      </table>
      <br>
    </div>
    <div class="links">
      <% if current_user == @sample.user %>
        <div><%= link_to 'Edit this sample', edit_sample_path(@sample), class: 'button' %></div>
        <div><%= link_to 'Delete sample', sample_path(@sample), class: 'button',
          method: :delete,
          data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </div>
    <li>Sample_json: <%= @sample_json %></li>
  </div>
</div>
