<div class="row">
  <div class="small-12 columns">
    <br>
    <h6 class="button tiny">Sample transformer: <%= @sample.transformer.name %></h6>
    <h6 class="button tiny">Sample location: <%= @sample.transformer.location.name %></h6>
    <h6 class="button tiny">Sample added by: <%= @sample.user.email %></h6>
  </div>
      <h4>Dissolved Gas Concentration IEEE Condition Levels</h4>
    <div class="small-12 medium-6 large-4 columns">
      <div id="sample_hydrogen_gauge_chart" class="gauge"></div>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <div id="sample_methane_gauge_chart" class="gauge"></div>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <div id="sample_ethane_gauge_chart" class="gauge"></div>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <div id="sample_ethylene_gauge_chart" class="gauge"></div>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <div id="sample_acetylene_gauge_chart" class="gauge"></div>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <div id="sample_carbon_monoxide_gauge_chart" class="gauge"></div>
    </div>

      </div>

  <div class="row">
    <div class="small-12 columns"><h4>Rogers Ratios</h4><br></div>
    <div class="small-4 columns"><div id="sample_ratio_r2"></div></div>
    <div class="small-4 columns"><div id="sample_ratio_r1"></div></div>
    <div class="small-4 columns"><div id="sample_ratio_r5"></div></div>
  </div>

  <div class="row">
    <div class="small-12 columns"><h4>Total Sample Content</h4><br></div>
    <div class="small-6 columns"><div id="sample_donut_chart"></div></div>
    <div class="small-6 columns"><div id="sample_single_gas_chart"></div></div>
  </div>

<div class="row">
<div class="small-12 columns">

    <div class="datatable">
      <table id="samples" class="display">
          <thead>
              <tr>
                  <th>Compound</th>
                  <th>PPM</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Hydrogen</td>
                  <td><%= @sample.hydrogen %></td>
              </tr>
              <tr>
                  <td>Oxygen</td>
                  <td><%= @sample.oxygen %></td>
              </tr>
              <tr>
                  <td>Nitrogen</td>
                  <td><%= @sample.nitrogen %></td>
              </tr>
              <tr>
                  <td>Methane</td>
                  <td><%= @sample.methane %></td>
              </tr>
              <tr>
                  <td>Carbon Monoxide</td>
                  <td><%= @sample.carbon_monoxide %></td>
              </tr>
              <tr>
                  <td>Ethane</td>
                  <td><%= @sample.ethane %></td>
              </tr>
              <tr>
                  <td>Carbon Dioxide</td>
                  <td><%= @sample.carbon_dioxide %></td>
              </tr>
              <tr>
                  <td>Ethylene</td>
                  <td><%= @sample.ethylene %></td>
              </tr>
              <tr>
                  <td>Acetylene</td>
                  <td><%= @sample.acetylene %></td>
              </tr>
          </tbody>
      </table>
      <br>
    </div>
  </div>
  <div class="links">
    <% if current_user == @sample.user || current_user.try(:admin?)  %>
      <div><%= link_to 'Edit this sample', edit_sample_path(@sample), class: 'button' %></div>
          <% if current_user.try(:admin?) %>
      <div><%= link_to 'Delete sample', sample_path(@sample), class: 'button',
        method: :delete,
        data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
