<div class="row">
  <div class="small columns">
    <h3>Create New Transformer</h3>

    <%= form_for ([@location,@transformer]) do |f| %>

     <% if @transformer.errors.any? %>
        <p>
          <ul>
          <% @transformer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </p>
      <% end %>

      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :kind %>
        <%= f.text_field :kind %>
      </p>

      <%= f.submit %>

    <% end %>
  </div>
</div>
