<div class="row">
<div class="small columns">
  <h2>Transformer name: <%= @transformer.name %></h2>
  <h4>Samples: </h4>

  <div class="datatable">
    <table id="transformer-sample-list" class="display">
      <thead>
          <tr>
              <th>Sample Date</th>
              <th>Added by</th>
          </tr>
      </thead>
      <tbody>
      <% @samples.each do |sample| %>
        <tr>
            <td><%= link_to "#{sample.date}", sample_path(sample) %></td>
            <td><%= sample.user.email %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <br>
  </div>
  <div class="links">
    <div><%= link_to "Add sample to #{@transformer.name}", new_transformer_sample_path(@id), class: 'button' %></div>
    <div><%= link_to "Back to transformer location: #{@transformer.location.name}", location_path(@transformer.location), class: 'button' %></div>
    <% if current_user == @transformer.user || current_user.try(:admin?) %>
      <div><%= link_to 'Edit this transformer', edit_location_transformer_path(@location, @transformer), class: 'button' %></div>
      <% if current_user.try(:admin?) %>
        <div><%= link_to 'Delete transformer', location_transformer_path(@location, @transformer), class: 'button',
          method: :delete,
          data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
