<div class="row">
  <h2>Transformer name: <%= @transformer.name %></h2>
  <h4>Samples: </h4>

  <div class="sample">
    <% @samples.each do |sample| %>
      <div>Sample name: <%= link_to "#{sample.date}", sample_path(sample) %></div>
      <div>Placeholder</div>
    <% end %>
  </div>

  <div class="links">
    <div><%= link_to "Add sample to #{@transformer.name}", new_transformer_sample_path(@id), class: 'button' %></div>
    <div><%= link_to "Back to transformer location: #{@transformer.location.name}", location_path(@transformer.location), class: 'button' %></div>
    <% if current_user == @transformer.user %>
      <div><%= link_to 'Edit this transformer', edit_location_transformer_path(@location, @transformer), class: 'button' %></div>
      <div><%= link_to 'Delete transformer', location_transformer_path(@location, @transformer), class: 'button',
        method: :delete,
        data: { confirm: 'Are you sure?' } %></div>
    <% end %>

  </div>
</div>
