<div class="row">
  <div class="small-12 large-8 columns">
  <h3>Upload CSV file</h3>

  <%= form_for @data_file do |f| %>

   <% if @data_file.errors.any? %>
      <p>
        <ul>
        <% @data_file.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </p>
    <% end %>
      <li>Please provide a name for this upload</li>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <div class="field button">
      <%= f.label :csv_file %>
      <%= f.file_field :csv_file %>
    </div>

    <%= f.submit "Add CSV File", class: :button %>
    <% end %>

</div>
</div>
