<div class="row">
  <h2>Location name: <%= @location.name %> </h2>
  <h3>Latitude: lorem Longitude: lorem</h3>
  <h4>Transformers: </h4>

  <div class="transformer">
    <% @transformers.each do |transformer| %>
      <div>Transformer name: <%= link_to "#{transformer.name}", transformer_path(transformer) %></div>
      <div># of Samples: <%= transformer.samples.count %></div>
    <% end %>
  </div>

  <div class="links">
    <div><%= link_to "Add transformer to #{@location.name}", new_location_transformer_path(@id), class: 'button' %></div>
    <% if current_user == @location.user %>
      <div><%= link_to 'Edit this location', edit_location_path(@location), class: 'button' %></div>
      <div><%= link_to 'Delete location', location_path(@location), class: 'button',
        method: :delete,
        data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </div>
</div>
