
<h3>Location show page for Location id: <%= @location.id %> Location name: <%= @location.name %> </h3>

<ul>
  <li><strong>Name:</strong> <%= @location.name %></li>
</ul>

<% @transformers.each do |transformer| %>
<%= transformer.name %>
<% end %>

<div class="links">
  <ul><%= link_to "all locations", locations_path %></ul>
</div>
