<div class="row">
  <div class="small columns">
  <h2>Location name: <%= @location.name %> </h2>
  <h4>Transformers: </h4>


  <li>Google map placeholder</li>

  <div class="datatable">
    <table id="location-transformer-list" class="display">
        <thead>
            <tr>
                <th>Transformer Name</th>
                <th>Lat/Long [if supplied]</th>
                <th>Number of samples</th>
            </tr>
        </thead>
        <tbody>
  <% @transformers.each do |transformer| %>
    <tr>
        <td><%= link_to "#{transformer.name}", transformer_path(transformer) %></td>
        <td><%= transformer.kind %></td>
        <td><%= transformer.samples.count %></td>
    </tr>
    <% end %>
        </tbody>
    </table>
    <br>
  </div>

  <div class="links">
    <div><%= link_to "Add transformer to #{@location.name}", new_location_transformer_path(@id), class: 'button' %></div>
    <% if current_user == @location.user || current_user.try(:admin?) %>
      <div><%= link_to 'Edit this location', edit_location_path(@location), class: 'button' %></div>
      <% if current_user.try(:admin?) %>
          <div><%= link_to 'Delete location', location_path(@location), class: 'button',
            method: :delete,
            data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
