<!DOCTYPE html>
<html>
<head>
  <title>MyDGA</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="top-bar" data-topbar role= "navigation">
    <ul class="title-area">
      <li class="name">
        <div class="logothing">
          <h1><a href="/">MyDGA</a></h1>
        </div>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to '<i class="fa fa-info-circle"></i> About'.html_safe, about_index_path %></li>
        <li><%= link_to '<i class="fa fa-files-o"></i> Data files'.html_safe, data_files_path %></li>
        <li><%= link_to '<i class="fa fa-globe"></i> Locations'.html_safe, locations_path %></li>
        <li><%= link_to '<i class="fa fa-bolt"></i> Transformers'.html_safe, transformers_path %></li>
        <li><%= link_to '<i class="fa fa-table"></i> Samples'.html_safe, samples_path %></li>
        <%- if current_user -%>
          <li><%= link_to "<i class='fa fa-sign-out'></i> Sign Out [#{current_user.email}]".html_safe, destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to '<i class="fa fa-plus-square"></i> Sign Up'.html_safe, new_user_registration_path %></li>
          <li><%= link_to '<i class="fa fa-sign-in"></i> Log In'.html_safe, new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
    <div class="nav-divider"></div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
