<!DOCTYPE html>
<html>
<head>
  <title>MyDGA</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">MyDGA</a></h1>

      </li>
    </ul>

    <section class="top-bar-section">
      <ul><%= link_to "transformers", transformers_path %></ul>
      <ul><%= link_to "locations", locations_path %></ul>
      <ul><%= link_to "samples", samples_path %></ul>
      <ul><%= link_to "new transformer", new_transformer_path %></ul>
      <ul><%= link_to "new location", new_location_path %></ul>
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
